@font-face {
  font-family: grotestFont;
  src: url("../fonts/FoundersGrotesk-light.otf");
}

/* Reset browser default styles  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: grotestFont;
}

/* nav related styles  */
nav {
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 38px;
  margin-top: 25px;
  margin-bottom: 90px;
}

.brand-name {
  font-size: 17.109px;
  font-weight: 400;
  line-height: 21.109px;
}

.brand-name a{
  text-decoration: none;
  color: #2a2a2a;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 38px;
}

nav ul li a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 16.19px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.19px;
  text-transform: uppercase;
}

/* intro related style  */
.intro {
  padding: 0 38px;
}
.intro .intro-title {
  color: #2a2a2a;
  font-family: Founders Grotesk;
  font-size: 121.33px;
  font-style: normal;
  font-weight: 400;
  line-height: 107.464px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.intro-small-title {
  color: #2a2a2a;
  font-family: Founders Grotesk;
  font-size: 17.19px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.19px;
  text-transform: uppercase;
}

/* case study related styles  */
.case-study-list {
  margin: 50px 0 135px 0;
  display: flex;
  padding: 0 38px;
}

.case-study-card {
  max-width: 430px;
  padding: 5px;
}

.case-study-card h4, hr{
  margin: 5px 0;
}

.case-study-card img {
  width: 100%;
}

.case-study-line {
  display: flex;
  justify-content: space-between;
}

/* about related style  */
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0 38px;
}
.about .about-left-description {
  color: #2a2a2a;
  font-family: Founders Grotesk;
  font-size: 20.87px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.866px;
  text-transform: uppercase;
  max-width: 600px;
}
.about .about-right-description {
  color: #2a2a2a;
  font-family: Founders Grotesk;
  font-size: 20.11px;
  font-weight: 300;
  line-height: 25.331px;
  max-width: 600px;
}

.about-btn {
  color: #f0f0f0;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  border-radius: 9px;
  background: #000;
  padding: 10px 19px 10px 15px;
  cursor: pointer;
  margin-top: 38px;
}

/* video related styles  */
.video-image-container {
  width: 100%;
  height: 1079px;
}

.video-image-container img {
  width: 100%;
  height: 100%;
}

/* client related style  */
.clients {
  margin-top: 135px;
  padding: 0 38px;
}
.clients-title {
  padding-bottom: 80px;
}
.clients-cards-container {
  display: flex;
  column-gap: 40px;
}

.client-card{
  min-height: 318px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.client-card img{
 height: 64px;
 width: 200px;
}

.client-card p {
  color: #2a2a2a;
  font-family: Founders Grotesk;
  font-size: 19.11px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.331px;
  margin-top: 30px;
}
.client-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F0F0F0;
  font-family: Founders Grotesk;
  font-size: 19.11px;
  font-weight: 300;
  line-height: 25.331px;
  padding: 4px 13.72px 4px 24px;
  min-height: 22px;
  border-radius: 9px;
  background: #000;
  position: absolute;
  bottom: 0;
  top: 100%;
  margin-top: 30px;
}

/* client list related style  */
.client-list{
  padding: 0 38px;
}
.client-list-title{
  padding-bottom: 80px;
}
.client-list{
  padding-top: 100px;
}
table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: 1px solid #CDCDCD;
}

table tr td{
  padding: 20px 0;
 }

table tr td:first-child{
 width: 50%;
}

/* style related to footer  */
footer{
  padding: 0 38px;
}
/* style related to carousel  */
.carousel{
  margin-top: 218px;
}
.carousels-wrapper{
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 300px;
}

.carousels-wrapper img{
  width: 250px;
  height: 100%;
}

.carousels-wrapper :first-child img{
  width: 500px;
}

/* standard contianer related style  */
.footer-title{
  padding-bottom: 80px;
}
.standard-conainer{
  padding: 30px 0 50px 0;
}
.footer-columns-container{
  display: flex;
  justify-content: space-between;
}

.footer-info{
  padding-bottom: 50px;
}

.footer-info p{
  line-height: 25px;
}

.footer-info h5:first-child{
  color: rgb(97, 91, 91);
}
.contact-us-btn{
  background: #000;
  color: #e4dddd;
  border:0;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
  font-family: grotestFont;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 10px 30px;
}
/* copy right section related style  */
.copyright-section{
  padding-bottom: 50px;
}
.columns{
  display: flex;
  justify-content: space-between;
}

.copyright-column{
  width: 50%;
}

.right-side-info{
  display: flex;
  justify-content: space-between;
}


.right-side-info a{
  text-decoration: none;
  color:#000;
  padding: 10px 20px;
}